@import url(../bower_components/font-awesome-bower/css/font-awesome.css);
@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

.navbar {
  margin: 0; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px; }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; }
  .unseen:hover {
    color: lightgrey; }
  #episode-dropdown {
    border-radius: 0 !important; }
  form {
    margin-bottom: 10px; } }

.flex-container-center, .container {
  display: flex;
  align-items: center;
  justify-content: center; }

.align-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.container {
  padding: 0;
  width: 100vw;
  height: 100vh; }

.drag-n-drop {
  border: solid;
  border-style: dashed;
  border-color: lightskyblue;
  height: 200px;
  width: 200px; }

.row {
  margin: 0; }

ul {
  padding-left: 10px; }

input {
  float: right; }

table {
  table-layout: fixed; }

td {
  padding: 0; }

th {
  width: 150px; }

.icon {
  float: left;
  padding-right: 10px; }

.no-overflow {
  overflow: hidden; }

.padding-verticle {
  padding: 10px 0; }

.float-none {
  float: none; }
