<div ng-if="!vm.data" class="container">
  <div class="drag-n-drop align-text">
    Drag File Here.
  </div>
</div>

<div ng-if="!vm.table">
  <button ng-click="vm.print()">button</button>
  <ul>
    <li class='row' ng-repeat="header in vm.headers2 track by $index">
        <div class="col-xs-1">
          <input type="checkbox" class="fl-right form-check-input" ng-change="header.index = $index" ng-model="header.value"/>
        </div>
        <span class="col-xs-11">{{header.text}}</span>
    </li>
  </ul>
</div>

<table  ng-if="vm.table" class="table table-striped">
  <thead>
    <tr>
      <th ng-repeat="header in vm.headers2 track by $index" ng-if="vm.contains($index)">{{header.text}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="record in vm.data">
      <td ng-if="vm.contains($index)" ng-repeat="cell in record track by $index">{{cell}}</td>
    </tr>
  </tbody>
</table>