#directories
**/bower_components
**/node_modules
dist
.vscode
release
.tmp
build
**/write.json
**/data.json
**/headers.json
**/*.config
**/data.xlsx
**/*.DS_Store

#files
*.tgz
*.log
src/db/**
ExcelFilter-darwin-x64
ExcelFilter-win32-x64
**/.DS_Store
