<div class="row padding-verticle">
  <!-- refresh button -->
  <button ng-click="vm.refresh()" class="refresh-button btn btn-default">
    <i class="fa fa-refresh"></i>
  </button>

  <!-- search text field -->
  <div class="col-md-4 no-margin form-group">
    <label class="sr-only" for="searchText">Search Text</label>
    <input type="text" ng-model="vm.searchText" class="form-control" id="searchText" placeholder="Search...">
  </div>

  <!-- drop down -->
  <div class="col-md-3 dropdown">
    <div class="dropdown">
      <button class="row btn btn-default btn-block dropdown-toggle center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="col-md-2 padding-none fa fa-lg fa-caret-down"></i>
        <span class="col-md-10 ellipsis">{{vm.currentIndex.text}}</span>
        
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-click="vm.setFilterGroup(header.index)" ng-repeat="header in vm.indexs | orderBy: 'text'"><a>{{header.text}}</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th ng-click="vm.sort(header.index);" ng-repeat="header in vm.headers" ng-if="vm.contains(header.index)">
        <i class="icon fa fa-lg" ng-class="{0:'fa-caret-down', 1:'fa-caret-up', 2:'none'} [vm.getOrder(header.index)]"></i>
        <div class="no-overflow">{{header.text}}</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="record in vm.data | orderBy: vm.sortOrder | filter: vm.getFilter() track by $index">
      <td ng-if="vm.contains($index)" ng-repeat="cell in record track by $index">{{cell}}</td>
    </tr>
  </tbody>
</table>