<form class="form-horizontal no-margin">
  <div class="form-group no-margin padding-verticle">
    <label for="refresh" class="control-label sr-only">Refresh</label>
    <div class="col-sm-1">
      <button ng-click="vm.refresh()" class="refresh-button btn btn-default">
        <i class="fa fa-refresh"></i>
      </button>    
    </div>

    <label for="searchText" class="control-label sr-only">Search Text</label>
    <div class="col-sm-4">
      <input type="text" ng-model="vm.searchText" class="form-control" id="searchText" placeholder="Search...">
    </div>

    <div class="col-sm-3">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
        <i class="padding-none fa fa-lg fa-caret-down"></i>
        <span class="ellipsis">{{vm.currentIndex.text}}</span>
      </button>

      <ul class="dropdown-menu">
        <li ng-click="vm.setFilterGroup('$')" ><a>-- All --</a></li>
        <li ng-click="vm.setFilterGroup(header)" ng-repeat="header in vm.headers | orderBy: 'text'"><a>{{header.text}}</a></li>
      </ul>
    </div>


    <div class="col-md-2 pull-right">
      <button class="btn btn-default pull-right" ng-click="vm.exportToExcel()">
        Export To Excel
      </button>
    </div>
  </div>
</form>

<!-- table -->
<table ng-if="vm.headers.length > 0" class="table table-striped">
  <thead>
    <tr>
      <th ng-click="vm.sort(header.index);" ng-repeat="header in vm.headers">
        <i class="icon fa fa-lg" ng-class="{0:'fa-caret-down', 1:'fa-caret-up', 2:'none'} [vm.getOrder(header.index)]"></i>
        <div class="no-overflow">{{header.text}}</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="record in vm.filterData | orderBy: vm.sortOrder | filter: vm.getFilter() track by $index">
      <td ng-repeat="cell in record track by $index">{{cell}}</td>
    </tr>
  </tbody>
</table>