<div class="row padding-verticle"> 
  <div class="col-md-4 no-margin form-group">
    <label class="sr-only" for="searchText">Search Text</label>
    <input type="text" ng-model="vm.searchText" class="form-control" id="searchText" placeholder="Search...">
  </div>

  <div class="col-md-4 no-margin form-group">
    <label class="sr-only" for="deleteAll">Search Text</label>
    <button type="text" ng-click="vm.deleteData()" class="form-control" id="deleteAll">Delete Data</button>
  </div>
</div>

<div class='row'>
  <div class="col-md-3 padding-15 form-group" ng-if="vm.worksheets">
    <select ng-model="vm.selectedSheet" ng-change="vm.select()" class="form-control" id="select">
      <option ng-repeat="sheet in vm.worksheets track by $index">{{::sheet}}</option>
    </select>
  </div>
</div>

<div class="row">
  <ul class="col-md-6 padding-15 list-group">
    <li class='row list-group-item' ng-repeat="header in vm.headers | orderBy: 'text' | filter: vm.searchText">
        <div class="col-xs-1">
          <input ng-click="vm.headerToggle(header)" 
                  type="checkbox" 
                  ng-true-value="1" 
                  ng-false-value="0" 
                  ng-checked="header.value == 1"
                  class="fl-right form-check-input" 
                  ng-model="header.value"/>
        </div>
        <span class="col-xs-11">{{header.text}}</span>
    </li>
  </ul>
</div>